{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ALEVcoder.uz</title>
	<link rel="icon" href="{% static 'images/ALEVcoder.png' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="{% static 'https://fonts.googleapis.com/css?family=Inconsolata:400,700' %}" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Style -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">


	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<header role="banner" id="fh5co-header">
		<div class="fluid-container">
			<nav class="navbar navbar-default navbar-fixed-top js-fullheight">
				<div id="navbar" class="navbar-collapse js-fullheight">
					<ul class="nav navbar-nav navbar-left">
						<li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
						<li><a href="#" data-nav-section="services"><span>Services</span></a></li>
						<li><a href="#" data-nav-section="explore"><span>Project</span></a></li>
						<li><a href="#" data-nav-section="pricing"><span>Pricing</span></a></li>
						<li><a href="#" data-nav-section="team"><span>Team</span></a></li>
					</ul>
				</div>
			</nav>
	  </div>
	</header>

	<section id="fh5co-home" data-section="home" style="background-image: url({% static 'images/web_dev_pillar_page.jpg' %});" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<h1 class="to-animate">Assalomu alaykum</h1>
							<h2 class="to-animate">Yangi yil bayramingiz muborak bo`lsin!!! <a href="#" target="_blank">Bu Yilgi 2021-yil hammaga </a> <br> Xursandchilik olib kelsin <a href="#" target="_blank" title="Free HTML5 Bootstrap Templates" class="fh5co-link">ALEVcoder</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="fh5co-services" data-section="services">
		<div class="fh5co-services">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="to-animate">Men kimman?</h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="to-animate">ALEVcoder - bu <b>A</b>bdu<b>L</b>aziz <b>E</b>rgashe<b>V</b> coder so`zidan olingan. Men Dasturlash sohasiga kirib kelganimga yarim yil bo`ldi. Men barcha mesengerlarda borman search berib topib olishingiz mumkin.</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="core-features">
						<div class="grid2 to-animate" style="background-image: url({% static 'images/alevcoder_130684648_423486295330591_3896097587130669062_n.jpg' %});">
						</div>
						<div class="grid2">
							<div class="core-f">
								<div class="row">
									<div class="col-md-12">
										<div class="core">
											<i class="icon-cloud-download to-animate-2"></i>
											<div class="fh5co-post to-animate">
												<h3>Free Download</h3>
												<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas culpa odio beatae vitae mollitia sit aliquam fugiat rerum fugit odit vero voluptate nam consectetur maiores, magni dolore animi aut soluta.</p>
											</div>
										</div>
										<div class="core">
											<i class="icon-laptop to-animate-2"></i>
											<div class="fh5co-post to-animate">
												<h3>Responsive Layout</h3>
												<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus enim laudantium, optio ipsum adipisci nostrum porro facilis velit quam voluptate minus iusto pariatur distinctio in ut error facere sequi ab!</p>
											</div>
										</div>
										<div class="core">
											<i class="icon-gear to-animate-2"></i>
											<div class="fh5co-post to-animate">
												<h3>24/7 Help &amp; Support</h3>
												<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique autem blanditiis velit excepturi quibusdam impedit illum illo recusandae ab neque. Non recusandae aspernatur repudiandae ducimus, facilis enim quod totam dolorem.</p>
											</div>
										</div>
										<div class="core">
											<i class="icon-columns to-animate-2"></i>
											<div class="fh5co-post to-animate">
												<h3>Lots of Elements</h3>
												<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores officiis reiciendis perspiciatis expedita at libero, placeat ut possimus amet dolore dolores officia quasi, necessitatibus adipisci deleniti soluta alias asperiores fuga.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="fh5co-counter-section" class="fh5co-counters">
					<div class="container">
						<div class="row to-animate">
							<div class="col-md-3 text-center">
								<span class="fh5co-counter js-counter" data-from="0" data-to="9898989898" data-speed="5000" data-refresh-interval="50"></span>
								<span class="fh5co-counter-label">Cheksiz Sonlar</span>
							</div>
							<div class="col-md-3 text-center">
								<span class="fh5co-counter js-counter" data-from="0" data-to="34" data-speed="5000" data-refresh-interval="50"></span>
								<span class="fh5co-counter-label">Mijozlar</span>
							</div>
							<div class="col-md-3 text-center">
								<span class="fh5co-counter js-counter" data-from="0" data-to="45" data-speed="5000" data-refresh-interval="50"></span>
								<span class="fh5co-counter-label">Proektlar</span>
							</div>
							<div class="col-md-3 text-center">
								<span class="fh5co-counter js-counter" data-from="0" data-to="8989898989" data-speed="5000" data-refresh-interval="50"></span>
								<span class="fh5co-counter-label">Cheksiz Sonlar</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="fh5co-explore" data-section="explore">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Projectlar</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum officiis eaque asperiores voluptatem illum quia ut aspernatur, cum vitae, ullam aut, nulla ea aliquam nesciunt consectetur possimus quisquam iste animi.</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fh5co-project">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="project-grid to-animate-2" style="background-image:  url({% static 'images/code-and-headphones-1.jpg' %});'">
							<div class="desc">
								<h3><a href="#">MasCom Template</a></h3>
								<span>By: ALEVcoder</span>
							</div>
						</div>
					</div>
					<div class="col-md-12 text-center">
						<div class="project-grid to-animate-2" style="background-image:  url({% static 'images/G2ygcmv.jpg' %});'">
							<div class="desc">
								<h3><a href="#">Long Tower</a></h3>
								<span>By: ALEVcoder</span>
							</div>
						</div>
					</div>
					<div class="col-md-12 text-center">
						<div class="project-grid to-animate-2" style="background-image:  url({% static 'images/cropped-shutterstock_699634498.jpg' %});'">
							<div class="desc">
								<h3><a href="#">Flash Theme</a></h3>
								<span>By: ALEVcoder</span>
							</div>
						</div>
					</div>
					<div class="col-md-12 text-center">
						<div class="project-grid to-animate-2" style="background-image:  url({% static 'images/1_dhwHUlGtrUKitcxbW65FPQ.jpeg' %});">
							<div class="desc">
								<h3><a href="#">Tattoo</a></h3>
								<span>By: ALEVcoder</span>
							</div>
						</div>
					</div>
					<div class="col-md-12 text-center">
						<div class="project-grid to-animate-2" style="background-image:  url({% static 'images/0.jpg' %});">
							<div class="desc">
								<h3><a href="#">Train Theme</a></h3>
								<span>By: ALEVcoder</span>
							</div>
						</div>
					</div>
					<div class="col-md-12 text-center">
						<div class="project-grid to-animate-2" style="background-image:  url({% static 'images/Become-a-Full-Stack-Developers.jpg' %});">
							<div class="desc">
								<h3><a href="#">Dance Theme</a></h3>
								<span>By: ALEVcoder</span>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</section>
	
	<!-- <section id="fh5co-pricing" data-section="pricing">
		<div class="fh5co-pricing">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="to-animate">Plans Built For Every One</h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove. </h3>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="price-box to-animate">
							<h2 class="pricing-plan">Starter</h2>
							<div class="price"><sup class="currency">$</sup>7<small>/mo</small></div>
							<p>Basic customer support for small business</p>
							<hr>
							<ul class="pricing-info">
								<li>10 projects</li>
								<li>20 Pages</li>
								<li>20 Emails</li>
								<li>100 Images</li>
							</ul>
							<p><a href="#" class="btn btn-primary">Read More</a></p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="price-box to-animate">
							<h2 class="pricing-plan">Regular</h2>
							<div class="price"><sup class="currency">$</sup>19<small>/mo</small></div>
							<p>Basic customer support for small business</p>
							<hr>
							<ul class="pricing-info">
								<li>15 projects</li>
								<li>40 Pages</li>
								<li>40 Emails</li>
								<li>200 Images</li>
							</ul>
							<p><a href="#" class="btn btn-primary">Read More</a></p>
						</div>
					</div>
					<div class="clearfix visible-sm-block"></div>
					<div class="col-md-3 col-sm-6 to-animate">
						<div class="price-box popular">
							<div class="popular-text">Best value</div>
							<h2 class="pricing-plan">Plus</h2>
							<div class="price"><sup class="currency">$</sup>79<small>/mo</small></div>
							<p>Basic customer support for small business</p>
							<hr>
							<ul class="pricing-info">
								<li>Unlimitted projects</li>
								<li>100 Pages</li>
								<li>100 Emails</li>
								<li>700 Images</li>
							</ul>
							<p><a href="#" class="btn btn-primary">Read More</a></p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="price-box to-animate">
							<h2 class="pricing-plan">Enterprise</h2>
							<div class="price"><sup class="currency">$</sup>125<small>/mo</small></div>
							<p>Basic customer support for small business</p>
							<hr>
							<ul class="pricing-info">
								<li>Unlimitted projects</li>
								<li>Unlimitted Pages</li>
								<li>Unlimitted Emails</li>
								<li>Unlimitted Images</li>
							</ul>
							<p><a href="#" class="btn btn-primary">Read More</a></p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-md-offset-3 col-md-push-3 to-animate">
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean</p>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					</div>
				</div>

			</div>
		</div>
	</section>	 -->

	<section id="fh5co-team" data-section="team">
		<div class="fh5co-team">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="to-animate">Dasturlash sohasidagi do`stlarim</h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="to-animate">Men bu insonlar bilan manashu dasturlash sohasida tanishganman. Bu insonlar men uchun juda qadrli.</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="{% static 'images/user-1.jpg' %}" alt="Roger Garfield"></div>
							<h3>Ahmadjon </h3>
							<span class="position">Front-End, Back-End Developer</span>
							<p>Ahmadjon. Samarqand viloyati Bulungu`r tumanidan. Dasturlash sohasida Front-End va Back-End Developer. Biz do`stim bilan katta katta proektlar ham qilganmiz. Ikkalamiz ham tajriba ortirmoqdamiz.</p>
							<ul class="social-media">
								<li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>
								<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
								<li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
								<li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
								<li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="{% static 'images/user-2.jpg' %}" alt="Roger Garfield"></div>
							<h3>Kevin Steve</h3>
							<span class="position">Co-Founder, Product Designer</span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							<ul class="social-media">
								<li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>
								<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
								<li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
								<li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
								<li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="{% static 'images/user-3.jpg' %}" alt="Roger Garfield"></div>
							<h3>Ross Standford</h3>
							<span class="position">Full Stack Developer</span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							<ul class="social-media">
								<li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>
								<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
								<li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
								<li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
								<li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="getting-started getting-started-1">
		<div class="getting-grid" style="background-image:  url({% static 'images/hero.jpg' %});">
			<div class="desc text-center">
				<h2>Men Bilan Bog`lanish</h2>
				<p>Bemalol Murojat qilishingiz mumkin men albatda sizlaga javob beraman. Qiziqtirgan savollaringiz bulsa bemalol.</p>
				<p><a href="#fh5co-footer" class="btn btn-primary">Xabar yozish</a></p>
			</div>
		</div>
	</div>

	<div id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row">
				<div class="col-md-4 to-animate">
					<h3 class="section-title">Mening Haqimda</h3>
					<p>Men Ergashev Abdulaziz (ALEVcoder) Samarqand Viloyati Oqdaryo tumani Pichoqchi mahallasi To`rtayg`ir qishlog`ida istiqomat qilaman. Bu mening Portfolio Saytlarimdan biri. Men hozirda maktabda taqsil olaman men haqimda to`liqroq olmoqchi bo`lsangiz barcha portfoliolarimni ko`rib chiqing.</p>
					<p class="copy-right">Bu shablon &copy2020 yilda yozib chiqilgan <br>O`ngda turgan Forma orqali menga xabar yozishingiz mumkin.<br>
						<!-- Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a>
						Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a> -->
					</p>
				</div>

				<div class="col-md-4 to-animate">
					<h3 class="section-title">Mening Manzilim</h3>
					<ul class="contact-info">
						<li><i class="icon-map-marker"></i>289 Uy To`rtayg`ir qishlog`i, Samarqand viloyati Uzbekiston respublikasi</li>
						<li><i class="icon-phone"></i>+99893 228 66 07 va +99899 663 39 56</li>
						<li><i class="icon-envelope"></i><a href="#">alev.coder@mail.ru</a></li>
						<li><i class="icon-globe2"></i><a href="#">www.men bu.com</a></li>
					</ul>
					<h3 class="section-title">Mening mesengerlarim</h3>
					<ul class="social-media">
						<li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>
						<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
						<li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
						<li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>
					</ul>
				</div>
				<div class="col-md-4 to-animate">
					<h3 class="section-title">Formani to`ldiring</h3>
					<form class="contact-form" method="POST">
						{% csrf_token %}
						<div class="form-group">
							<label for="name" class="sr-only">Name</label>
							<input type="name" class="form-control" id="name" placeholder="Ismingiz" name="Ism">
						</div>
						<div class="form-group">
							<label for="email" class="sr-only">Email</label>
							<input type="email" class="form-control" id="email" placeholder="Email" name="Pochta">
						</div>
						<div class="form-group">
							<label for="message" class="sr-only">Message</label>
							<textarea class="form-control" id="message" rows="7" placeholder="Xabaringiz..." name="Xabar"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="Xabarni Junatish">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- <div id="map" class="fh5co-map"></div> -->

	
	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
	<!-- Counters -->
	<script src="{% static 'js/jquery.countTo.js' %}"></script>
	<!-- Main JS (Do not remove) -->
	<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>

